### mpstat jupyter notebook 
To run open in VSCode with a sourced venv via python3 -m venv venvmpstat
or directly from the command line with jupyter notebook and navigate to browser and execute all cells. 
Install packages with 
pip install -r requirements.txt 

I have also tested with a file called short.txt which is a smaller dataset to work with. 
Or you can also see graphs for a particular subset of cpus for example just the all categories for all cpus. 

FYI the large dataset mpstat.ab8713f3-6c19-479c-b662-bad058d8902c.out is 441M and has 2.1 million rows is slow to run.

Sampling just a few particaular cpus can be an option. Randomly selecting ~200k data points from specific cpu core say 2,4,9,200,255 
trimming the dataset is also an option. Using different visualization tools is also an option.

In [1]:
import pandas as pd
import json
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

In [3]:
# Create a list to hold the JSON data
# The following code only needs to run once
json_data = []

# with open('output.json', 'w') as outfile,open("../short.txt","r") as f:
with open('output-large.json','w') as outfile,open("../mpstat.ab8713f3-6c19-479c-b662-bad058d8902c.out") as f:
     # Split the input data into lines
     next(f)
     headers = []
     for line in f:
         if line is None or line == '\n': 
            continue
         else:
            lines = line.strip().split(' ')
            lines = list(filter(None, lines))
            # Extract the headers
            if len(headers) == 0:
               headers = lines[1:]
               continue
            
            datetime = lines[0]               
            row_dict = { "timestamp": datetime}
                  
            for i in range(len(headers)):
               k = headers[i]
               v = lines[i+1]
               row_dict[k] = v
            json_data.append(row_dict)

     json.dump(json_data, outfile)

In [4]:
# with open('output.json', 'r') as infile: 
with open('output-large.json', 'r') as infile: 
    data = json.load(infile)
    result = pd.json_normalize(data, errors='raise')
df = pd.DataFrame(result)
df.head()

,timestamp,CPU,%usr,%nice,%sys,%iowait,%irq,%soft,%steal,%guest,%gnice,%idle
0,11:21:38,all,0.34,0.00,8.47,0.04,0.00,0.17,0.00,18.28,0.00,72.64
1,11:21:38,0,0.00,0.00,31.96,0.00,0.00,0.00,0.00,0.00,0.00,68.04
2,11:21:38,1,1.23,0.00,9.88,0.00,0.00,0.00,0.00,0.00,0.00,88.89
3,11:21:38,2,1.06,0.00,1.06,0.00,0.00,0.00,0.00,1.06,0.00,96.81
4,11:21:38,3,0.00,0.00,5.10,0.00,0.00,0.00,0.00,0.00,0.00,94.90

In [5]:
df.describe

<bound method NDFrame.describe of         timestamp  CPU  %usr %nice   %sys %iowait  %irq %soft %steal  %guest  \
0        11:21:38  all  0.34  0.00   8.47    0.04  0.00  0.17   0.00   18.28
1        11:21:38    0  0.00  0.00  31.96    0.00  0.00  0.00   0.00    0.00
2        11:21:38    1  1.23  0.00   9.88    0.00  0.00  0.00   0.00    0.00
3        11:21:38    2  1.06  0.00   1.06    0.00  0.00  0.00   0.00    1.06
4        11:21:38    3  0.00  0.00   5.10    0.00  0.00  0.00   0.00    0.00
...           ...  ...   ...   ...    ...     ...   ...   ...    ...     ...
2157906  13:41:03  251  0.00  0.00  15.00    0.00  0.00  0.00   0.00   55.00
2157907  13:41:03  252  0.00  0.00   0.00    0.00  0.00  0.00   0.00  100.00
2157908  13:41:03  253  0.00  0.00   0.00    0.00  0.00  0.00   0.00    0.00
2157909  13:41:03  254  1.00  0.00   0.00    0.00  0.00  0.00   0.00   69.00
2157910  13:41:03  255  0.00  0.00   0.00    0.00  0.00  0.00   0.00    0.00

        %gnice   %idle
0         0.00   72.64
1         0.00   68.04
2         0.00   88.89
3         0.00   96.81
4         0.00   94.90
...        ...     ...
2157906   0.00   30.00
2157907   0.00    0.00
2157908   0.00  100.00
2157909   0.00   30.00
2157910   0.00  100.00

[2157911 rows x 12 columns]>

In [6]:
df.dtypes

timestamp    object
CPU          object
%usr         object
%nice        object
%sys         object
%iowait      object
%irq         object
%soft        object
%steal       object
%guest       object
%gnice       object
%idle        object
dtype: object

In [7]:
df.rename(columns={'CPU':'cpu', '%usr':'usr','%nice':'nice','%iowait':'iowait','%irq':'irq','%soft':'soft','%steal':'steal','%guest':'guest','%sys':'sys','%gnice':'gnice','%idle':'idle'}, inplace=True)

In [8]:
df.head()

,timestamp,cpu,usr,nice,sys,iowait,irq,soft,steal,guest,gnice,idle
0,11:21:38,all,0.34,0.00,8.47,0.04,0.00,0.17,0.00,18.28,0.00,72.64
1,11:21:38,0,0.00,0.00,31.96,0.00,0.00,0.00,0.00,0.00,0.00,68.04
2,11:21:38,1,1.23,0.00,9.88,0.00,0.00,0.00,0.00,0.00,0.00,88.89
3,11:21:38,2,1.06,0.00,1.06,0.00,0.00,0.00,0.00,1.06,0.00,96.81
4,11:21:38,3,0.00,0.00,5.10,0.00,0.00,0.00,0.00,0.00,0.00,94.90

In [9]:
substring = ['cpu']
df = df[df['cpu'].str.contains("CPU")==False]
df.describe

<bound method NDFrame.describe of         timestamp  cpu   usr  nice    sys iowait   irq  soft steal   guest  \
0        11:21:38  all  0.34  0.00   8.47   0.04  0.00  0.17  0.00   18.28
1        11:21:38    0  0.00  0.00  31.96   0.00  0.00  0.00  0.00    0.00
2        11:21:38    1  1.23  0.00   9.88   0.00  0.00  0.00  0.00    0.00
3        11:21:38    2  1.06  0.00   1.06   0.00  0.00  0.00  0.00    1.06
4        11:21:38    3  0.00  0.00   5.10   0.00  0.00  0.00  0.00    0.00
...           ...  ...   ...   ...    ...    ...   ...   ...   ...     ...
2157906  13:41:03  251  0.00  0.00  15.00   0.00  0.00  0.00  0.00   55.00
2157907  13:41:03  252  0.00  0.00   0.00   0.00  0.00  0.00  0.00  100.00
2157908  13:41:03  253  0.00  0.00   0.00   0.00  0.00  0.00  0.00    0.00
2157909  13:41:03  254  1.00  0.00   0.00   0.00  0.00  0.00  0.00   69.00
2157910  13:41:03  255  0.00  0.00   0.00   0.00  0.00  0.00  0.00    0.00

        gnice    idle
0        0.00   72.64
1        0.00   68.04
2        0.00   88.89
3        0.00   96.81
4        0.00   94.90
...       ...     ...
2157906  0.00   30.00
2157907  0.00    0.00
2157908  0.00  100.00
2157909  0.00   30.00
2157910  0.00  100.00

[2149548 rows x 12 columns]>

In [10]:
df['timestamp'] = pd.to_datetime(df['timestamp'], format='%H:%M:%S').dt.time

/tmp/ipykernel_15746/2610453095.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['timestamp'] = pd.to_datetime(df['timestamp'], format='%H:%M:%S').dt.time

In [11]:
df.dtypes

timestamp    object
cpu          object
usr          object
nice         object
sys          object
iowait       object
irq          object
soft         object
steal        object
guest        object
gnice        object
idle         object
dtype: object

In [12]:
exclude_list = ['all', 'CPU','%usr','%nice','%sys','%iowait','%irq','%soft','%steal','%guest',  '%gnice','%idle']

In [13]:
df.iloc[:,1:]

         cpu   usr  nice    sys iowait   irq  soft steal   guest gnice    idle
0        all  0.34  0.00   8.47   0.04  0.00  0.17  0.00   18.28  0.00   72.64
1          0  0.00  0.00  31.96   0.00  0.00  0.00  0.00    0.00  0.00   68.04
2          1  1.23  0.00   9.88   0.00  0.00  0.00  0.00    0.00  0.00   88.89
3          2  1.06  0.00   1.06   0.00  0.00  0.00  0.00    1.06  0.00   96.81
4          3  0.00  0.00   5.10   0.00  0.00  0.00  0.00    0.00  0.00   94.90
...      ...   ...   ...    ...    ...   ...   ...   ...     ...   ...     ...
2157906  251  0.00  0.00  15.00   0.00  0.00  0.00  0.00   55.00  0.00   30.00
2157907  252  0.00  0.00   0.00   0.00  0.00  0.00  0.00  100.00  0.00    0.00
2157908  253  0.00  0.00   0.00   0.00  0.00  0.00  0.00    0.00  0.00  100.00
2157909  254  1.00  0.00   0.00   0.00  0.00  0.00  0.00   69.00  0.00   30.00
2157910  255  0.00  0.00   0.00   0.00  0.00  0.00  0.00    0.00  0.00  100.00

[2149548 rows x 11 columns]

In [14]:
# df.iloc[:,1:300]
df.iloc[:1,1:-1]

   cpu   usr  nice   sys iowait   irq  soft steal  guest gnice
0  all  0.34  0.00  8.47   0.04  0.00  0.17  0.00  18.28  0.00

In [15]:
# handle all seperately 
substring = ['all']
all_df = df[df['cpu'].str.contains("all")==True]
all_df.describe

<bound method NDFrame.describe of         timestamp  cpu   usr  nice    sys iowait   irq  soft steal  guest  \
0        11:21:38  all  0.34  0.00   8.47   0.04  0.00  0.17  0.00  18.28
258      11:21:39  all  0.38  0.00   9.73   0.78  0.00  0.25  0.00  16.74
516      11:21:40  all  0.43  0.00   9.29   0.21  0.00  0.15  0.00  16.51
774      11:21:41  all  0.31  0.00  10.21   0.09  0.00  0.10  0.00  17.65
1032     11:21:42  all  0.38  0.00   8.93   0.17  0.00  0.18  0.00  18.39
...           ...  ...   ...   ...    ...    ...   ...   ...   ...    ...
2156622  13:40:59  all  0.31  0.00   9.75   0.05  0.00  0.03  0.00  15.10
2156880  13:41:00  all  0.09  0.00  10.26   0.05  0.00  0.02  0.00  14.32
2157138  13:41:01  all  0.11  0.00   9.85   0.05  0.00  0.04  0.00  15.29
2157396  13:41:02  all  0.16  0.00   9.19   0.23  0.00  0.06  0.00  16.41
2157654  13:41:03  all  0.16  0.00   7.58   0.08  0.00  0.06  0.00  16.94

        gnice   idle
0        0.00  72.64
258      0.00  72.04
516      0.00  73.36
774      0.00  71.56
1032     0.00  71.85
...       ...    ...
2156622  0.00  74.69
2156880  0.00  75.19
2157138  0.00  74.58
2157396  0.00  73.89
2157654  0.00  75.11

[8364 rows x 12 columns]>

In [16]:
df = df[df['cpu'].str.contains("all")==False]
df.head()

  timestamp cpu   usr  nice    sys iowait   irq  soft steal guest gnice   idle
1  11:21:38   0  0.00  0.00  31.96   0.00  0.00  0.00  0.00  0.00  0.00  68.04
2  11:21:38   1  1.23  0.00   9.88   0.00  0.00  0.00  0.00  0.00  0.00  88.89
3  11:21:38   2  1.06  0.00   1.06   0.00  0.00  0.00  0.00  1.06  0.00  96.81
4  11:21:38   3  0.00  0.00   5.10   0.00  0.00  0.00  0.00  0.00  0.00  94.90
5  11:21:38   4  0.00  0.00  26.04   0.00  0.00  0.00  0.00  0.00  0.00  73.96

In [17]:
df.describe

<bound method NDFrame.describe of         timestamp  cpu   usr  nice    sys iowait   irq  soft steal   guest  \
1        11:21:38    0  0.00  0.00  31.96   0.00  0.00  0.00  0.00    0.00
2        11:21:38    1  1.23  0.00   9.88   0.00  0.00  0.00  0.00    0.00
3        11:21:38    2  1.06  0.00   1.06   0.00  0.00  0.00  0.00    1.06
4        11:21:38    3  0.00  0.00   5.10   0.00  0.00  0.00  0.00    0.00
5        11:21:38    4  0.00  0.00  26.04   0.00  0.00  0.00  0.00    0.00
...           ...  ...   ...   ...    ...    ...   ...   ...   ...     ...
2157906  13:41:03  251  0.00  0.00  15.00   0.00  0.00  0.00  0.00   55.00
2157907  13:41:03  252  0.00  0.00   0.00   0.00  0.00  0.00  0.00  100.00
2157908  13:41:03  253  0.00  0.00   0.00   0.00  0.00  0.00  0.00    0.00
2157909  13:41:03  254  1.00  0.00   0.00   0.00  0.00  0.00  0.00   69.00
2157910  13:41:03  255  0.00  0.00   0.00   0.00  0.00  0.00  0.00    0.00

        gnice    idle
1        0.00   68.04
2        0.00   88.89
3        0.00   96.81
4        0.00   94.90
5        0.00   73.96
...       ...     ...
2157906  0.00   30.00
2157907  0.00    0.00
2157908  0.00  100.00
2157909  0.00   30.00
2157910  0.00  100.00

[2141184 rows x 12 columns]>

In [21]:
tmpdf = df.iloc[:,1:].astype(float)
df.iloc[:,1:] = tmpdf
df.head()

   cpu   usr  nice    sys  iowait  irq  soft  steal  guest  gnice   idle
1  0.0  0.00   0.0  31.96     0.0  0.0   0.0    0.0   0.00    0.0  68.04
2  1.0  1.23   0.0   9.88     0.0  0.0   0.0    0.0   0.00    0.0  88.89
3  2.0  1.06   0.0   1.06     0.0  0.0   0.0    0.0   1.06    0.0  96.81
4  3.0  0.00   0.0   5.10     0.0  0.0   0.0    0.0   0.00    0.0  94.90
5  4.0  0.00   0.0  26.04     0.0  0.0   0.0    0.0   0.00    0.0  73.96

In [22]:
df.dtypes

cpu       float64
usr       float64
nice      float64
sys       float64
iowait    float64
irq       float64
soft      float64
steal     float64
guest     float64
gnice     float64
idle      float64
dtype: object

In [ ]:
df.describe()

In [ ]:
# px.line(data_frame=df, x='timestamp', y='idle')

In [ ]:
all_df.head()

In [ ]:
px.line(data_frame=all_df, x='timestamp', y='iowait', title='IOWait over Time')